{{ define "main" }}

<div class="main-row">
    <div class="text-area">
        <p>This site houses the archives of my two Typepad blogs 
        formerly hosted at pmbryant.typepad.com 
        (August 15,2004 - September 30, 2025).</p>
        <ul>
        <li><div class="blog-title"><a href="x/letyourselfgo/">Let Yourself Go ... To Old Hollywood</a><span class="blog-years">(2017 - 2025)</span></div>
        <p>A classic Hollywood blog with a focus on my research on Ida Lupino. 
        My most popular post was one from 2020 where I discovered that a commonly believed "fact" about Humphrey Bogart
        was not true: <a href="x/letyourselfgo/2020/05/pard-the-dog-from-high-sierra-was-it-really-bogarts-dog"><em>Pard, the dog from High Sierra. Was he really Bogart's dog?</em></a></p>
        <p>The posts I am most proud of are those in the <a href="x/letyourselfgo/research/">Research</a> category.
        Examples include <a href="x/letyourselfgo/2020/12/the-making-of-moontide-a-noir-fairy-tale"><em>The Making of Moontide--a Noir Fairy Tale</em></a>,
        <a href="x/letyourselfgo/2020/11/ida-lupino-almost-lost-first-starring-vehic"><em>How did Ida Lupino Almost Lose Her First Warners Starring Vehicle to Bette Davis?</em></a>,
        and <a href="x/letyourselfgo/2023/05/the-fourth-star"><em>The Fourth Star: Ida Lupino Takes On Television</em></a>. And there are plenty others.
        </p>
        </li>
        <li><div class="blog-title"><a href="x/b_and_b/">B and B</a><span class="blog-years">(2004 - 2012)</span></div>
        <p>Writings about politics, science, current events of the time, plus some personal items.</p></li>
        </ul>
        <p>Compelled by the demise of Typepad, I have transferred the full contents of those blogs here.
        I have preserved the text, images and styles as much as possible.
        Most outgoing links to typepad.com domains have been disabled, 
        as who knows who will control those domains in the future. 
        Commenting, search and subscribe buttons are hence visible but not functional.
        Links to open the inline images in a new tab do not yet work.</p>
        <p>I hope to start a new blog hosted on this site in the near future. Stay tuned.</p>
    </div>
    <div class="image-area">
        <a href="x/letyourselfgo/"><img src="images/Typepad.LetYourselfGo.screenshot.2025sep14.small.png" alt="Let Yourself Go Screenshot" class="black-square" /></a>
        <a href="x/b_and_b/"><img src="images/Typepad.BandB.screenshot.2025sep14.small.png" alt="B and B Screenshot" class="black-square" /></a>
    </div>
</div>
{{ end }}
